# Dependencies
node_modules/

# Transpiled files
dist/

# jest coverage static server
coverage/

# Dot Env Configuration
.env

# Package lock
package-lock.json

# data files 
mockFiles/
mockFiles/sf.json
mockFiles/city.json
mockFiles/eightSocks.json
mockFiles/getAkaEmp.json
mockFiles/getAkaPhone.json
mockFiles/pictures.json
mockFiles/AD.json
